/*------------------------------------------------------*/
/*Algemene eigenschappen*/
/*------------------------------------------------------*/

/*Algemene font alle paginas*/
* {
    font-family: "Arial", serif;
    background: aliceblue;
}

h1, h2 {
    color: dodgerblue;
}

h3 {
    color: mediumblue;
}

/*Titels onzichtbaar maken, maar toch zichtbaar voor screenreader*/
.hiddenTitle {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

/*Dots van ul elementen weghalen*/
ul  {
    list-style: none;
}

/*Afbeeldingen schalen relatief tot pagina groote*/
.foto_schaling {
    max-width: 100%;
    min-width: 100px;
    min-height: 80px;
    width: auto;
    height: auto;
>}


footer {
    clear: both; /*geen floating elementen langs beiden kanten*/
}

/*------------------------------------------------------*/
/*Bread crumbs*/
/*------------------------------------------------------*/
nav ul {
    display: flex;
    flex-direction: column;
    : ;
}



/*------------------------------------------------------*/
/*Menu eigenschappen*/
/*------------------------------------------------------*/

/*Opmaak hyperlinks menu*/
.grid_menu ul a {
    text-transform: uppercase; /*alle tekst van de links naar hoofdletters*/
    text-decoration: none; /*Lijnen onder links*/
    padding: 0.75em 1em; /*opvullen beschikbare ruimte*/
    display: block;
    text-align: center; /*centreer text*/
}


/*Menu items flexbox*/
.grid_menu ul {
    display: flex;
}

/*Maak eerste niveau flex items in de rij richting*/
.grid_menu > ul {
    flex-direction: row; /*Default*/
}

/*Maak tweede niveau flex items in de kolom richting*/
.grid_menu ul ul {
    flex-direction: column;
    /*margin-left: -40px;*/
}

/*Ruimte breedte opvullen*/
.grid_menu > ul > li {
    flex-grow: 1;
}

/* Sub-menu als overflow, anker voor submenus*/
.grid_menu > ul > .submenu{
    position: relative;
}


.grid_menu .submenu > ul {
    /*Transitie om sub-menu items te kunnen selecteren*/
    overflow-y: hidden; /*default is visible*/
    max-height: 0; /*element groeien tot nodige aantal pix*/
    transition: max-height 0s 0.75s;
    position: absolute; /* Haal blok uit normale flow*/
    width: 100%; /*breedte 100 procent ten opzichte van bovenliggende menu*/
    padding: 0; /*Aligneer aan bovenliggende menu*/
}

.grid_menu .submenu:hover > ul {
    /*Transitie om sub-menu items te kunnen selecteren*/
    max-height: 350px; /*element groeien tot nodige aantal pix, zodat er geen overflow meer is dus alles zichtbaar kan worden*/
    transition: max-height 1s ease-in 0.2s;
}

/*Kleur eerste niveau menu*/
.grid_menu > ul a {
    background: #1565C0;
    color: white;
}

/*Kleur tweede niveau menu*/
.grid_menu .submenu > ul a {
    background: lightblue;
    color: blue;
}

/*Link met submenu voorzien van +teken*/
.grid_menu .submenu > a:after {
    content: '+';
    padding-left: 5px;
}
/* Links hover algemeen*/
.grid_menu  > ul a:hover, .menu .submenu > ul a:hover {
    background: aliceblue;
    color: blue;
}



/*------------------------------------------------------*/
/*Header voor alle paginas*/
/*------------------------------------------------------*/

.grid_header {
    display: grid;
    grid-area: gheader;
    background-color: orange;
    grid-template-areas: 'logo  menu'
                         'fitnessfreaks_titel .';
    grid-auto-columns: 1fr 25fr;
    grid-auto-rows: 10fr 10fr;
    max-height:5%;
    column-gap: 15px;
}

.grid_logo {
    grid-area: logo;
    align-self: center;
}

.grid_paginatitel {
    font-size: 1em;
    color: blue;
    font-style: italic;
    text-transform: uppercase;
    grid-area: fitnessfreaks_titel;
    align-self: center;
}

.grid_menu {
    grid-area: menu;
    align-self: center;
}


/*------------------------------------------------------*/
/*Home pagina*/
/*------------------------------------------------------*/

/*Font style van testimonials op home*/
.testimonials blockquote {
    font-family: Garamond, serif;
    font-style: italic;
}

/*Font style van testimonial citaties op home*/
.testimonials blockquote cite{
    font-size: 0.8em;
}

/*Algemene grid toegpast op body*/
.grid {
    margin: 0 auto;
    width: 95%; /*body 95% van schermgrootte gecentreerd*/

    display: grid;
    grid-gap: 10px;
    grid-template-areas:
            'gheader'
            'gmainhome'
            'gfooter';
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 25fr 1fr; /*gebruik voor het nodige ruimte voor header en footer, en de rest voor de main*/
    /*Scherm opvullen bij weinig inhoud*/
    height: 97vh; /*vertikale scrollbar voorkomen*/
    max-width: 97vw;
}

/*Apart grid voor main van home pagina*/
.grid > .grid_main {
    display: flex; /*De main is een flexbox*/
    flex-direction: row-reverse; /*Testimonials links*/
    grid-area: gmainhome;
    background-color: blue;
    flex: 1;
}

/*About is een article met daarbinnen secties*/
.grid_main article  {
    display: flex;
    flex-direction: column;

}
/*testimonial link is een section volgens wireframe*/
.grid_main section  {
    display: flex;
    flex-direction: column;

}
/*About is een article met daarbinnen secties*/
.grid_main article > section {
    display: flex;
    flex: 1;
    flex-wrap: wrap; /*text onder H3 onder H3 plaatsen, contained eigenschap aanpassen*/
    flex-direction: row;
}


/*H3 100% van de ruimte laten innemen*/
.grid_main article H3 {
    flex: 1 0 100%;
}

/************footer************/
.grid_footer {
    grid-area: gfooter;
    background-color: green;
    display: flex;
    column-gap: 100px;
    clear: both;
}

.social_media  ul{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
}

.social_media ul li {
    flex-grow: 1;
}

.grid_footer h2 {
    flex: 1 0 100%;
}



/*------------------------------------------------------*/
/*Product pagina*/
/*------------------------------------------------------*/

/**********Media queries***********/
/*make grid responsive, below 600px change grid layout*/
@media screen and (max-width: 660px){
    .grid_home{
        grid-auto-columns: 1fr;
        grid-template-areas:
            'gheader'
            'gmain'
            'gfooter';
        grid-template-rows: unset;
    }
}