/*------------------------------------------------------*/
/*Algemene eigenschappen*/
/*------------------------------------------------------*/

/*Algemene font alle paginas*/
* {
    font-family: "Arial", serif;
    background: aliceblue;
}

h1, h2 {
    color: dodgerblue;
    text-align: center;
}

h3 {
    color: mediumblue;
}

/*Titels onzichtbaar maken, maar toch zichtbaar voor screenreader*/
.hiddenTitle {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

/*Dots van ul elementen weghalen*/
ul  {
    list-style: none;
}

/*Afbeeldingen schalen relatief tot pagina groote*/
.foto_schaling {
    max-width: 100%;
    min-width: 100px;
    min-height: 80px;
    width: auto;
    height: auto;
>}


/*------------------------------------------------------*/
/*Bread crumbs*/
/*------------------------------------------------------*/
nav ul {
    display: flex;
    flex-direction: column;
}

/*H3 100% van de ruimte laten innemen*/
.main article H3 {
    flex: 1 0 100%;
}

/*------------------------------------------------------*/
/*Menu eigenschappen*/
/*------------------------------------------------------*/

/*Opmaak hyperlinks menu*/
.header_menu ul a {
    text-transform: uppercase; /*alle tekst van de links naar hoofdletters*/
    text-decoration: none; /*Lijnen onder links*/
    padding: 0.75em 1em; /*opvullen beschikbare ruimte*/
    display: block;
    text-align: center; /*centreer text*/
}

/*Menu items flexbox*/
.header_menu ul {
    display: flex;
}

/*Maak eerste niveau flex items in de rij richting*/
.header_menu > ul {
    flex-direction: row; /*Default*/
}

/*Maak tweede niveau flex items in de kolom richting*/
.header_menu ul ul {
    flex-direction: column;
    /*margin-left: -40px;*/
}

/*Ruimte breedte opvullen*/
.header_menu > ul > li {
    flex-grow: 1;
}

/* Sub-menu als overflow, anker voor submenus*/
.header_menu > ul > .submenu{
    position: relative;
}


.header_menu .submenu > ul {
    /*Transitie om sub-menu items te kunnen selecteren*/
    overflow-y: hidden; /*default is visible*/
    max-height: 0; /*element groeien tot nodige aantal pix*/
    transition: max-height 0s 0.75s;
    position: absolute; /* Haal blok uit normale flow*/
    width: 100%; /*breedte 100 procent ten opzichte van bovenliggende menu*/
    padding: 0; /*Aligneer aan bovenliggende menu*/
}

.header_menu .submenu:hover > ul {
    /*Transitie om sub-menu items te kunnen selecteren*/
    max-height: 350px; /*element groeien tot nodige aantal pix, zodat er geen overflow meer is dus alles zichtbaar kan worden*/
    transition: max-height 1s ease-in 0.2s;
}

/*Kleur eerste niveau menu*/
.header_menu > ul a {
    background: #1565C0;
    color: white;
}

/*Kleur tweede niveau menu*/
.header_menu .submenu > ul a {
    background: lightblue;
    color: blue;
}

/*Link met submenu voorzien van +teken*/
.header_menu .submenu > a:after {
    content: '+';
    padding-left: 5px;
}
/* Links hover algemeen*/
.header_menu  > ul a:hover, .menu .submenu > ul a:hover {
    background: aliceblue;
    color: blue;
}

/*------------------------------------------------------*/
/*Header voor alle paginas*/
/*------------------------------------------------------*/

/*De header is als grid container gededineerd, is zelf een grid item binnen de body grid*/
.header_grid {
    display: grid;
    grid-area: gheader;
    background-color: orange;
    grid-template-areas: 'logo  menu'
                         'fitnessfreaks_titel .';
    grid-auto-columns: 1fr 25fr;
    grid-auto-rows: 10fr 10fr;
    max-height:5%;
    column-gap: 15px;
}

.header_logo {
    grid-area: logo;
    align-self: center;

}

.header_paginatitel {
    font-size: 1em;
    color: blue;
    font-style: italic;
    text-transform: uppercase;
    grid-area: fitnessfreaks_titel;
    text-align: center;
}

.header_menu {
    grid-area: menu;
    align-self: center;
}


/*------------------------------------------------------*/
/*Home pagina*/
/*------------------------------------------------------*/

/*Font style van testimonials op home*/
.testimonials blockquote {
    font-family: Garamond, serif;
    font-style: italic;
    text-align: center;
}

/*Font style van testimonial citaties op home*/
.testimonials blockquote cite{
    font-size: 0.8em;
}

/*Algemene grid toegpast op body*/
.body_grid {
    margin: 0 auto;
    width: 95%; /*body 95% van schermgrootte gecentreerd*/

    display: grid;
    grid-gap: 10px;
    grid-template-areas:
            'gheader'
            'gmainhome'
            'gfooter';
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 25fr 1fr; /*gebruik voor het nodige ruimte voor header en footer, en de rest voor de main*/
    /*Scherm opvullen bij weinig inhoud*/
    height: 97vh; /*vertikale scrollbar voorkomen*/
    max-width: 97vw;
}

/*Apart grid voor main van home pagina*/
.body_grid > .main {
    display: flex; /*De main is een flexbox*/
    flex-direction: row-reverse; /*Testimonials links*/
    grid-area: gmainhome;
    background-color: blue;
    flex: 1;
}

/*------------------------------------------------------*/
/*Producten pagina*/
/*------------------------------------------------------*/
/*De article binnen de main bevat de filters ende producten overzcht, en is een grid*/
.producten_grid {
    display: grid;
    grid-template-areas:
    "filter . overzicht"; /* ruimte tussen de grid items*/
    grid-template-columns: 20fr 1fr 50fr; /*ruimte indeling filter en prudcten overzicht */
}


.producten_grid > .producten_filter {
    grid-area: filter;
}

/*Filters Onder elkaar*/
.producten_filter fieldset input{
    display: flex;
}

.producten_grid > .producten_overzicht {
    grid-area: overzicht;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producten_overzicht > section  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

}

.producten_overzicht section > section {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid;
    align-items: center;
}

.producten_grid h5 {
    font-size: 0.7em;
    max-width: 40%;
}

.producten_grid h4, .producten_grid h3 {
    flex: 1 0 100%;
    text-align: center;
}

/*-------------Filters--------------------------*/
/*.producten_grid img {*/
/*    display: none;*/
/*}*/

/*.producten_grid input {*/
/*    display: none;*/
/*}*/

input[value="BENLEE"]:checked ~ #fotos section > section:not([data-filter~="benlee"]),
input[value="REEBOK"]:checked ~ #fotos section > section:not([data-filter~="reebok"]),
input[value="DOMYOS"]:checked ~ #fotos section > section:not([data-filter~="domyos"]),
input[value="NYAMBA"]:checked ~ #fotos section > section:not([data-filter~="nyamba"]),
input[value="GYMSTICK"]:checked ~ #fotos section > section:not([data-filter~="gymstick"]),
input[value="MATCHU SPORTS"]:checked ~ #fotos section > section:not([data-filter~="matchu sports"]),
input[value="TOORX AKCA"]:checked ~ #fotos section > section:not([data-filter~="toorx akca"]),
input[value="MUSCLE POWER"]:checked ~ #fotos section > section:not([data-filter~="muscle power"]),
input[value="BLACKROLL"]:checked ~ #fotos section > section:not([data-filter~="blackroll"]),
input[value="TUNTURI"]:checked ~ #fotos section > section:not([data-filter~="tunturi"]),
input[value="MERKLOOS"]:checked ~ #fotos section > section:not([data-filter~="merkloos"]),
input[value="ALLES"]:checked ~ #fotos section > section:not([data-filter~="alles"])
{
    display: none;
}

#filter label {
    padding: 0 6px;
    border: solid 1px grey;
    background-color: lightgray;
    border-radius: 3px;
}

#filter label:hover{
    background-color: grey;
}

input[value="benlee"]:checked ~ filter label[for~="benlee"],
input[value="reebok"]:checked ~ filter[for~="reebok"],
input[value="nyamba"]:checked ~ filter[for~="nyamba"],
input[value="domyos"]:checked ~ filter[for~="domyos"],
input[value="matchu sports"]:checked ~ filter[for~="matchu sports"],
input[value="toorx akca"]:checked ~ filter[for~="toorx akca"],
input[value="muscle powet"]:checked ~ filter[for~="muscle power"],
input[value="virtufit"]:checked ~ filter[for~="virtufit"],
input[value="blackroll"]:checked ~ filter[for~="blackroll"],
input[value="tunturi"]:checked ~ filter[for~="tunturi"],
input[value="merkloos"]:checked ~ filter[for~="merkloos"],
input[value="alles"]:checked ~ filter[for~="alles"],
input[value="gymstick"]:checked ~ filter[for~="gymstick"]
{
    background-color: black;
    color: white;
}





/*------------------------------------------------------*/
/*Contact*/
/*------------------------------------------------------*/

.main_contact article{
    display: grid;
    grid-template-areas:
            "cfoto cfoto"
            "kaart form";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    justify-items: stretch;
    align-items: center;
}

.main_contact .contact_locatie {
    grid-area: kaart;
}

.main_contact .contact_locatie iframe {
    border: solid;
}

.main_contact .contact_foto {
    grid-area: cfoto;
}

.main_contact .contact_form{
    grid-area: form;
}

.main_contact ul li{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/*
/*!*!*Artikels in de main zijn een flexbox About is een article met daarbinnen secties*!*!*/
/*.main article  {*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*}*/
/*!*testimonial link is een section volgens wireframe*!*/
/*.main section  {*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*}*/
/*!*About is een article met daarbinnen secties*!*/
/*.main article > section {*/
/*    display: flex;*/
/*    flex: 1;*/
/*    flex-wrap: wrap; !*text onder H3 onder H3 plaatsen, contained eigenschap aanpassen*!*/
/*    flex-direction: row;*/
/*}*/




/************footer************/
/*De footer grid is een grid element binnen de body grid*/
.footer {
    border: solid;
    grid-area: gfooter;
    display: flex; /* Is een flexbox*/
    column-gap: 100px; /*Afstand tussen de kolomen binnen de flexbox*/
    clear: both; /*geen floating element langs beide kanten*/
    justify-content: space-around;
}

.footer .footer_socialmedia {
    display: flex;
    /*flex-direction: row; /*default*/
    width: 100%;
    justify-content: space-around;
}

.footer .footer_socialmedia ul{
    display: flex;
    /*flex-direction: row; /*default*/
    align-self: center;
    width: 100%;
    justify-content: space-around;
}



.footer_contact {
    display: flex;
    /*flex-direction: row; /*default*/
    width: 100%;
    justify-content: space-around;
    flex-flow: row wrap;

}

.footer_contact ul{
    display: flex;
    /*flex-direction: row; /*default*/
    width: 100%;
    flex-direction: column;
    text-align: center;

}

.footer h2 {
    flex: 1 0 100%;
    text-align: center;
}



/*------------------------------------------------------*/
/*Product pagina*/
/*------------------------------------------------------*/

/**********Media queries***********/
/*make grid responsive, below 600px change grid layout*/
@media screen and (max-width: 660px){
    .grid_home{
        grid-auto-columns: 1fr;
        grid-template-areas:
            'gheader'
            'gmain'
            'gfooter';
        grid-template-rows: unset;
    }
}